* {
  border: 1px solid red !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.grid {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.row {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
  height: 200px;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

#underline {
  background-image: url("http://www.falshawhomes.co.uk/communities/1/004/013/447/781//images/4629489064_659x200.png");
  height: 4px;
  background-repeat: repeat-y;
}

h1 {
  color: #747704;
  text-align: right;
  font-size: 70px;
  margin: 0px, 20px, 0px, 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h4 {
  color: #747704;
  text-align: right;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.intro {
  padding: 10px;
  text-align: justify;
}

h2 {
  color: #BCBBBB;
  font-size: 50px;
  padding: 0px, 8px;
  margin: 20px, 0px, 0px, 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: none;
}